<div class="jumbotron text-center">
  <h1>MEAN Stack Auth App with Angular 2!</h1>
  <p class="lead"> This is a demo MEAN Stack App using MongoDb and Angular 2 built from scratch. </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default"
                                                                            [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express backend Js Framework</h3>
    <p>This app usses Node.js/Express server using Mongoose to organize models and talk to the database </p>
  </div>

  <div class="col-md-4">
    <h3>Angular 2 CLI</h3>
    <p>Using the Angular CLI I was able to generate components, servicesm and more. Using a local dev server and easy
      compilation</p>
  </div>

  <div class="col-md-4">
    <h3>JWT tokens</h3>
    <p>Taking advantage of Angular2-JWT also known and JSON web tokens, I was able to login and store user data.</p>
  </div>
