<div class="container">
  <h1 class="page-header text-center">Meadowbrook Acres Subdivision</h1>
  <h4 class="text-center">Welcome to the neighborhood</h4>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <p>
      &nbsp; ipsum dolor sit. Amet gummi bears cookie donut biscuit macaroon cake I love danish. Sesame snaps I love
      donut bear claw candy.
      Sweet roll I love fruitcake marshmallow. Chocolate chocolate cake gummi bears cake cupcake cookie. Sweet sweet
      roll bonbon pie. Pastry
      sugar plum chupa chups muffin jelly-o biscuit cheesecake I love soufflé. Cake jujubes jujubes sweet roll pastry
      sesame snaps pudding
      lollipop soufflé. Candy soufflé carrot cake icing candy canes cake.
    </p>
  </div>
  <div class="col-md-6">
    <p>
      &nbsp; candy pudding sugar plum pie I love I love sugar plum. Pie ice cream I love ice cream carrot cake carrot
      cake dessert pastry
      lollipop. Wafer chocolate cake topping candy. Tootsie roll gummi bears gummies gingerbread I love chocolate cake
      wafer. Jelly candy
      canes sweet roll I love sugar plum I love jelly. Sugar plum gummies croissant liquorice wafer chocolate. Cake pie
      oat cake cookie candy
      canes chocolate bar icing. Chocolate cupcake I love I love dragée halvah jujubes. Apple pie muffin pudding jelly
      beans oat cake gummi
      bears muffin powder. I love I love jelly-o.
    </p>
  </div>
</div>
